@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Efeitos 3D e pixelados */
  .retro-bevel {
    box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.6), 
                inset -3px -3px 0px 0px rgba(0, 0, 0, 0.4);
  }

  .retro-dots {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 8px 8px;
  }

  .pixel-corners {
    clip-path: polygon(
      0px 4px, 4px 4px, 4px 0px,
      calc(100% - 4px) 0px, calc(100% - 4px) 4px, 100% 4px,
      100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%,
      4px 100%, 4px calc(100% - 4px), 0px calc(100% - 4px)
    );
  }
}